<a href="/movies">Go back</a>

<img src="{{movieChosen.image}}" alt="movie image">
<div id="information">
    <h1>{{movieChosen.title}}</h1>
    <h2>Director: {{movieChosen.director}}</h2>
    <div id= "stars"><h3>Stars</h3>
    
    {{#each movieChosen.stars}}
     
    <ul></ul>
        <li>{{this}} </li>
    </ul>
    {{/each}}
    </div>

    <p>{{movieChosen.description}}</p>
    {{#each movieChosen.showtimes}}
       <p> {{this}} | </p>
    {{/each}}
</div>