
<div id= "information-picture">
<img src="{{movieChosen.image}}" alt="movie image" width="200px" height="300px">
<div id="information">
    <a href="/movies">Go back</a>
    <h1>{{movieChosen.title}}</h1>
    <h2>Director: {{movieChosen.director}}</h2>
    <div id= "stars"><h3>Stars</h3>
    
    {{#each movieChosen.stars}}
     
    <ul>
        <li>{{this}} </li>
    </ul>
    {{/each}}
    </div>
    <div id="description">
        <p>{{movieChosen.description}}</p>
    </div>
    <div id="showtimes">
        {{#each movieChosen.showtimes}}
            <p>{{this}} | </p>   
        {{/each}}
    </div>
</div>
</div>